.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #0000000c;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.homeLink {
    text-decoration: none;
    color: #333;
    margin-left: 1rem;
    transition: 0.125s
}

.homeLink:hover {
    color: rgb(177, 24, 50);
}

.main {
    flex: 1;
}